.sidbar-div{
  height: 100vh;
  width: 100vw;
  display: flex;

}

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #F1F2F7;
  align-items: center;
  gap: 10px;
}

.sidebar h4 {
  margin-top: 28px;
  font-size: 12px;
}
.hr{
  width: 100%;
  height: 0.6px;

  background-color:lightgray;

}
.main-content {
  width: 100%;
}
.sidebarlinks{
   height: 100%;
   display: flex;
   flex-direction: column;
    gap: 10px;

}
.menudiv ,.otherdiv{
  p{
    font-size: 12px;
    color: grey;
  }
}

.navCard{
  padding: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  i{
    font-size: 12px;
  }
  p{
    font-size: 10px;
    color: black;
  }
  
}