.sidbar-div{
  height: 100vh;
  width: 100vw;
  display: flex;

}

.sidebar{
width: 200px;
background-color: #F1F2F7;
justify-content: center;
align-items: center;
}

.main-cotent{
  width: 100px;

}
.sidebarlinks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  background-color: antiquewhite;

}

.navCard{
  height: 100%;
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  p{
    font-size: 12px;
  }
  
}