body{
  font-family:sans-serif;
}
.OwnerDashboard{
  width: 100vw;
  height: 100vh;
  background-color: #FBFCFE;
  padding: 10px;
  overflow-y: scroll;


}

.hr{
       height:0.5px;
      background-color:lightgrey;
      border: none;

  
  /* border: 0.1px solid #D1D3E2; */
}

.revenueandtop10Querydiv{
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 300px;
  gap: 10px;
  /* background-color: aqua; */

}
.top10QuerySearch{
  border: 0.5px solid #eee;
  padding: 10px;
  overflow-y: scroll;
}
.searchQueryCard-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      padding: 10px;
    }
    p{
      font-size: 12px;
    }
}
.searchQueryCard{
  width: 100%;
  height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchQueryCard-count{
  
  p{
    font-size: 10px;
  }
}

.todayMessageheading{
  
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: #D1D3E2;
  padding: 10px;
  p{
    font-size: 12px;
  }
}

.todayMessagebody{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 10px;
  border-bottom: 0.5px solid #eee;
    p{
    font-size: 12px;
  }
}

.todayUsersMessageAndPieChart{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap:10px;
  padding: 10px;
}

.pie-Chart-items{
  display: flex;
  justify-content: space-between;
}

.legend-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.legend-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5a6acf;
  display: inline-block;
}

.legend-label {
  font-size: 12px;
  color: #000;
}

.legend-value {
  font-size: 12px;
  color: #000;
  margin-left: 18px;
}


