body{
  font-family:sans-serif;
}
.OwnerDashboard{
  background-color: #FBFCFE;
  padding: 10px;
  overflow-y: scroll;


}


.hr{
       height:0.5px;
      background-color:lightgrey;
      border: none;

  
  /* border: 0.1px solid #D1D3E2; */
}

.revenueandtop10Querydiv{
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 300px;
  gap: 10px;
  /* background-color: aqua; */

}
.top10QuerySearch{
  border: 0.5px solid #eee;
  padding: 10px;
  overflow-y: scroll;
  p{
    font-size: 12px;
    color: gray;
  }
}
.searchQueryCard-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      padding: 7px;
    }
    p{
      font-size: 10px;
        color: black;
    }
}
.searchQueryCard{
  
  height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      border-bottom: 0.5px solid #eee;
}

.searchQueryCard-count{
  
  p{
    font-size: 10px;
    color: #000;
  }
}

.todayMessageheading{
  
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: #D1D3E2;
  padding: 10px;
  p{
    font-size: 12px;
  }
}

.todayMessagebody{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 10px;
  border-bottom: 0.5px solid #eee;
    p{
    font-size: 12px;
  }
}

.todayUsersMessageAndPieChart{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap:10px;
  padding: 10px;
}

.pie-Chart-items{
  display: flex;
  justify-content: space-between;


}

.legend-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.legend-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5a6acf;
  display: inline-block;
}

.legend-label {
  font-size: 12px;
  color: #000;
}

.legend-value {
  font-size: 12px;
  color: #000;
  margin-left: 18px;
}
.searchbaranduserprofile{
 
 display: flex;
 justify-content: space-between;
 width: 100%;
 align-items: center;
 padding: 10px;
 /* position: fixed; */


}

.fixedpos{
  position: fixed;
}

.Dashboard{
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}
.profile-div{
  display: flex;
  width: 100%;
  margin-left: 350px;
  p{
    font-size: 12px;
  cursor: pointer;
  }
  
}
.inputSearch{
  height: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
  margin-left: 100px;
   background-color: #F6F6FB;
  width: 80%;
  padding: 10px;
   
  

 input
 {
width: 100%;
  border: none;
  outline: none;
       
   background-color: #F6F6FB;
 }
 
}

.todayMessage-action{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  select{
       background-color: #F6F6FB;
    padding: 5px;
    width: 100px;
    font-size: 10px;
    border: 0.5px solid lightgrey;
    outline: none;
  }
}

.pie-Chart{
  p{
    font-size: 12px;
  }
  span{
    font-size: 12px;
    color: gray;
  }
}

.circlechart{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 180px;
  /* align-items: center; */

}