:root{
  --newbutton:#1B97BF

}

.newbutton{
  background-color: var(--newbutton);
  color: white;
  padding: 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.newbutton:hover{
  background-color: lightgrey;
  color: black;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}