


:root {
    --newbutton:#1B97BF
    --primary-color: #2563eb;
    --secondary-color: #3b82f6;
    --accent-color: #1d4ed8;
    --light-bg: #f8fafc;
    --dark-text: #1e293b;
    --light-text: #64748b;
    --success-color: #10b981;
    --warning-color: #f59e0b;
    --danger-color: #ef4444;
    --border-radius: 8px;
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.newbutton{
  background-color: var(--newbutton);
  color: white;
  padding: 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.newbutton:hover{
  background-color: lightgrey;
  color: black;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}