.inventory-div{
   width: 100%;
  padding: 10px;
}
.fileInput{
margin: 20px;
height: 200px;
border: 0.5px dotted ;
display: flex;
justify-content: center;
align-items: center;
}

.inventory-list-headings{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr;
  border-top: 0.5px solid lightgrey;
  padding: 10px;
  p{
    font-size: 12px;
  }
}
.inventory-list-items{
  height: 200px;
  display: flex;
 flex-direction: column;
  overflow-y: scroll;
}

.inventory-list-items-card{
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr;
  border-bottom: 0.5px solid lightgrey;
  
  padding: 10px;
  p{
    font-size: 12px;
  }
}


.inventory-list-filter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}


.inventory-list-filter-search{
  input{
    padding: 5px;
  }
}